{% extends 'base-template.html'%}

{% block head %}
  <title>Sign Up</title>
  <script src="{{ url_for('static', filename='js/signup.js') }}"></script>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/signup.css') }}">
{% endblock %}

{% block body %}
  <header>
    <div class="main-header">DEMO</div>
    <div class="user-dp"></div>
  </header>

  <div class="container">
    <div class="login-form">
      <input type="text" id="username" placeholder="Username"><br>
      <input type="email" id="email" placeholder="Email"><br>
      <input type="password" id="password" placeholder="Password"><br>
      <input type="password" id="confirm-password" placeholder="Confirm Password"><br>
      <button id="signin">SIGN IN</button>
      <a href="http://127.0.0.1:5000/login" id="login-link">Have an account?</a>
      <div class="validation-msg">
        <ul>
          <li id="error-msg"></li>
        </ul>
      </div>
    </div>
    </div>
  </div>
{% endblock %}