* {
  padding: 0;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

:root {
  --l4blue: #1A374D;
  --l3blue: #406882;
  --l2blue: #6998AB;
  --l1blue: #B1D0E0;
}

body{
  background-color: var(--l2blue);
}

header {
  width: 100%;
  height: 50px;
  background-color: var(--l3blue);
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
}
.main-header{
  width: 200px;
  height: 40px;
  border: none;
  /* background-color: white; */
  position: fixed;
  top: 4px;
  left: 10px;
  color: var(--l1blue);
  font-size: 40px;
}

.container {
  height: 400px;
  width: 400px;
  border-radius: 10px;
  background-color: var(--l1blue);
  position: absolute;
  top: 25%;
  left: 35%;
}

.login-form{
  margin-top: 70px;
  margin-left: 48px;
}

input {
  border: none;
  border-bottom: 2px solid var(--l3blue);
  height: 30px;
  width: 90%;
  margin-top: 10px;
  color: var(--l4blue);
  background-color: var(--l1blue);
  font-size: 15px;
}


input::placeholder{
  color: var(--l4blue);
}

input:focus{
  outline: none;
  /* background-color: var(--l2blue); */
  color: var(--l4blue);
}

#signin {
  height:40px;
  width: 90%;
  margin-top: 20px;
  color: var(--l1blue);
  background-color: var(--l2blue);
  border: none;
  font-size: 20px;
  cursor:pointer; 
}


#signin:hover {
  background-color: var(--l3blue);
}
#signin:focus {
  background-color: var(--l4blue);
}

#login-link{
  /* text-decoration: none; */
  font-size: 20px;
  margin-left: 150px;
  color: var(--l3blue);
}

.validation-msg {
  height: 30px;
  width: 85%;
  margin-top: 50px;
  color: red;
  background-color: #FF9988;
  border: 3px solid red; 
  font-size: 16px;
  padding: 10px;
  font-weight: 600;
  /* overflow-x: hidden; */
}
ul{
  margin-left: 20px;
}