{% extends 'base-template.html'%}

{% block head %}
  <title>Forgot Password</title>
  <script src="{{ url_for('static', filename='js/forgot-password.js') }}"></script>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/forgot-password.css') }}">
{% endblock %}

{% block body %}
  <header>
    <div class="main-header">DEMO</div>
  </header>

  <div class="container">
    <div class="get-user-form">
      <input type="text" id="username" placeholder="Username" required="true"><br>
      <button id="send-email">Send Email</button>
    </div>
  </div>
{% endblock %}