{% extends 'base-template.html'%}

{% block head %}
  <title>Reset Password</title>
  <script src="{{ url_for('static', filename='js/reset-password.js') }}"></script>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/reset-password.css') }}">
{% endblock %}

{% block body %}
  <header>
    <div class="main-header">DEMO</div>
  </header>

  <div class="container">
    <div class="reset-password-form">
      <input type="hidden" id="token" value='{{ token }}' disabled><br>
      <input type="password" id="password" placeholder="New password"><br>
      <input type="password" id="confirm-password" placeholder="Confirm Password"><br>
      <button id="reset">Reset Passowrd</button>
    </div>
  </div>
{% endblock %}